.maplayers-box {
}

.maplayers-box .maplayers-layer {
  border: 1px solid rgb(169, 169, 169);
  padding: 4px 6px;
  margin: 2px 0;
  cursor: pointer;
}

.maplayers-box .maplayers-layer:hover {
  background-color: rgb(240, 240, 240);
}

.maplayers-contents {
  margin-bottom: 15px;
}

.maplayers-dropdown {
  margin: 2px 0;
}

.maplayers-dropdown .maplayers-dropdown-table {
  width: 100%;
}

.maplayers-dropdown .maplayers-dropdown-title {
}

.maplayers-dropdown .maplayers-checkbox {
  display: inline-block;
}

.maplayers-dropdown .maplayers-symbol {
  display: inline-block;
  cursor: pointer;
}

.maplayers-dropdown .maplayers-settings {
    cursor: pointer;
  }

.maplayers-dropdown-content {
  margin-left: 12px;
}

.maplayers-dropdown-content.hide {
  display: none;
}

.markerdisplay-symbol {
  line-height: 22px;
  text-align: center;
}

.rasterdisplay-colorbar {
  width: 20px;
  height: 100%;
  background-color: red;
}
