ul.maplayers-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

li {
  list-style-type: none;
}


.maplayers-contents {
  margin-bottom: 15px;
}

.maplayers-dropdown {
  margin: 2px 0 8px 0;
}

.maplayers-dropdown .maplayers-dropdown-table {
  width: 100%;
}

.maplayers-dropdown .maplayers-dropdown-title {
}

.maplayers-dropdown .maplayers-checkbox {
  display: inline-block;
}

.maplayers-dropdown .maplayers-symbol {
  display: inline-block;
  cursor: pointer;
}

.maplayers-dropdown .maplayers-settings {
  cursor: pointer;
  font-size: 16px;
}

.maplayers-dropdown-content {
  margin-left: 12px;
}

.maplayers-dropdown-content.hide {
  display: none;
}

.markerdisplay-symbol {
  line-height: 22px;
  text-align: center;
}

.rasterdisplay-colorbar {
  width: 20px;
  height: 100%;
}

.rasterdisplay-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.rasterdisplay-table tr {
  height: 22px;
}

.rasterdisplay-table .rasterdisplay-innerlabel {
  font-size: 11px;
}

.rasterdisplay-table .rasterdisplay-bar {
  padding: 0;
  font-size: 8px;
}

.editsettings {
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-bottom: 10px;
}

.editsettings-title {
  margin: 10px 0 10px 4px;
  text-decoration: underline;
}

.editsettings-table {
  table-layout: fixed;
}

.editsettings-table input[type="text"] {
  width: 50px;
}

.editsettings-table select {
  width: 80px;
}

.editsettings-button {
  width: 100%;
  text-align: center;
}

.editsettings-button button {
  margin: 10px;
}
