#bar {
  width: 250px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

#colorbar {
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0px;
  font-size: 14px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 500px) {
  #colorbar {
    box-sizing: border-box;
    bottom: 16px;
    width: 100%;
    text-align: center;
  }
}

.colorbar-value {
  display: inline-block;
}

.colorbar-text {
  text-align: center;
  padding-bottom: 2px;
}

.color-table {
  display: none;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
