.threed {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  box-sizing: border-box;
}

.threed .close {
  color: #aaa;
  font-size: 34px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: -30px;
}

.threed .parameter-select {
  float: right;
  margin-top: -22px;
  z-index: 999;
  position: relative;
  margin-right: 20px;
}

.threed .basemapwrapper {
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  max-height: calc(100vh - 100px);
  min-height: 340px;
}

.threed .basemapwrapper .controls {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 998;
}

.threed .graphwrapper {
  height: 600px;
  width: 50%;
  box-sizing: border-box;
  max-width: 960px;
  position: absolute;
  right: 0;
  max-height: calc(100vh - 100px);
  min-height: 340px;
  display: inline-block;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
}

.threed .graphwrapper.hide {
  display: none;
}

.threed .graphwrapper table {
  height: 100%;
  margin: auto;
}

@media screen and (max-width: 1050px) {
  .threed {
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    box-sizing: border-box;
  }
  .threed .basemapwrapper {
    width: 100%;
    padding: 0;
  }
  .threed .graphwrapper {
    width: calc(100% - 80px);
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background-color: white;
    z-index: 998;
    padding-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .threed .graphwrapper {
    width: 100%;
    height: calc(100vh - 210px);
  }
  .threed .basemapwrapper {
    height: 500px;
    height: calc(100vh - 210px);
  }

  .threed .parameter-select {
    margin-right: 10px;
  }

  .threed {
    margin: 0;
  }
}
