.threed {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 0 50px;
  box-sizing: border-box;
}

.threed .basemapwrapper {
  height: 600px;
  width: 50%;
  box-sizing: border-box;
  max-width: 960px;
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.threed .basemapwrapper .controls {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 999999;
}

.threed .graphwrapper {
    height: 600px;
    width: 50%;
    box-sizing: border-box;
    max-width: 960px;
    position: relative;
    border: 1px solid black;
    display: inline-block;
  }

  @media screen and (max-width: 1050px) {
    .threed {
        width: 100%;
        margin: 0;
        margin-bottom: 100px;
        padding: 0 10px;
        box-sizing: border-box;
      }
      .threed .basemapwrapper {
        width: 100%;
        padding: 0;
      }
      .threed .graphwrapper {
        width: 100%;
      }
  }
