.lakestations-item {
  width: 40%;
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(169, 169, 169);
  margin: 0 4%;
  padding: 2px 0;
}

.lakestations-item:hover {
    background-color: rgb(220,220,220);
}
