.leaflet-tooltip{
    text-align: center!important;
    font-weight: bold;
}

.leaflet-tooltip a {
    text-decoration: none;
    color: black;
}

.leaflet-tooltip a:hover {
    text-decoration: underline;
}

.legend {
    position: absolute;
    z-index: 999;
    bottom: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.legend-small {
    position: absolute;
    z-index: 999;
    bottom: 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width:100px;
}

.legend .legend-block {
    width: 130px;
    display: inline-block;
}

.legend .legend-item img {
    width: 12px;
    margin-right: 5px;
    padding: 4px;
}

.legend .legend-text {
    display: inline-block;
    width: 105px;
    font-size: 10px;
    height: 20px;
    vertical-align: middle;
}

.legend-title {
    display: inline-block;
 }
 
 .legend .legend-top span {
     float: right;
     font-size: 18px;
     -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
 }
 
 .legend-top {
     cursor: pointer;
 }
 
 .legend-top h3 {
     padding: 0;
     margin: 0;
     line-height: 20px;
 }

 .legend-small .legend-top span {
    float: right;
    font-size: 18px;
    -webkit-transform: rotate(270deg);
   -moz-transform: rotate(270deg);
   -ms-transform: rotate(270deg);
   -o-transform: rotate(270deg);
   transform: rotate(270deg);
}

.legend.hide {
    display: none;
}

.legend-small.hide {
    display: none;
}

.weatherstation img {
    width: 100%;
}

.weatherstation h4 {
    margin: 5px 0;
}

.weatherstation a {
    color: black;
    text-decoration: none;
}

.desc {
    padding-bottom: 20px;
    text-decoration: none!important;
}

.weatherstation:hover > a > h4 {
    text-decoration: underline;
}