.inner__value-container {
  position: static !important;
}

.inner__indicator-separator {
  display: none !important;
}

.inner__single-value {
  color: black !important;  
}

.inner__dropdown-indicator {
  padding: 0 !important;
  padding-right: 8px !important;
}

.css-26l3qy-menu {
  width: auto!important;
  min-width: 100%!important;
}

.inner__single-value {
  max-width: calc(100% - 30px)!important;
}