/* -------------- Header -------------------------  */

header {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 100%;
}

/* Logo */

.logo {
  display: inline-block;
}

.logo a {
  display: inline-block;
  width: 220px;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}

/* Footer Nav Bar (Mobile) */

.footer-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 9999999;
  text-align: center;
  border-top: 1px solid #d8d6d3;
  justify-content: space-between;
}

.footer-nav a {
  color: black;
  padding: 0 5px;
  text-decoration: none;
  line-height: 40px;
}

.footer-nav img {
  width: 60px;
  margin: 5px 2px;
}

.footer-nav .imgactive img {
  border-bottom: 1px black solid;
}

.footer-nav .more {
  cursor: pointer;
}


/* Navigation Menu */



.hamburger {
  margin-right: 25px;
  cursor: pointer;
  display: inline-block;
}

.header-rotate {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
}

.header .nav-bar {
  float: right;
}

.header .nav-bar label {
  display: inline-block;
  font-size: 24px;
  margin-right: 25px;
  cursor: pointer;
}

.header .nav-bar .header-dropdown {
  display: none;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  z-index: 1001;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  text-align: right;
  position: absolute;
  right: 0;
}

.header .nav-bar.Show .header-dropdown img {
  width: 80px;
  margin: 0 5px;
}

.header .nav-bar.Show .header-dropdown .imgactive img {
  border-bottom: 1px black solid;
}

.header .nav-bar.Show .header-dropdown img:hover {
  border-bottom: 1px black solid;
}

.header .nav-bar .header-dropdown .mobile {
  display: none;
}

.header .nav-bar .header-dropdown .desktop {
  display: inline-block;
}

.header .nav-bar.Show .header-dropdown {
  display: block;
}

.active {
  font-weight: 700;
}

.links-widescreen {
  display: inline-block;
}

.links-widescreen a {
  padding: 10px 40px 10px 0;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-family: The Serif Bold, serif;
  display: inline-block;
}

.links-midscreen {
  display: none;
}

@media screen and (max-width: 670px) {
  .links-widescreen {
    display: none;
  }
  .links-midscreen {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    top: 80px;
  }
  .logo a {
    width: 180px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    top: 16px;
    left: 5px;
  }
  .logo a {
    width: 140px;
  }
  .header .nav-bar {
    top: 5px !important;
  }

  header {
    margin-top: 10px;
  }

  .footer-nav {
    display: block;
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .header .nav-bar.Show .header-dropdown {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    border-top: 1px solid #d8d6d3;
    z-index: 99999999;
    background-color: white;
  }

  .header .nav-bar.Show .header-dropdown a {
    padding: 0 5px;
  }

  .header .nav-bar.Show .header-dropdown .desktop {
    display: none;
  }

  .header .nav-bar.Show .header-dropdown .mobile {
    justify-content: space-between;
    display: flex;
  }

  .header .nav-bar.Show .header-dropdown img {
    width: 60px;
    margin: 5px 2px;
  }
}
