.home {
  margin-top: 60px;
}

#root {
  overflow-x: auto;
}

.home-banner {
  width: 100%;
  background: url("img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 15vh;
  box-sizing: border-box;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.home-banner .home-tagline {
  font-size: 60px;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -0.015em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: left;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
}

.home-banner button {
  font-size: 22px;
  background-color: black;
  color: white;
  height: 40px;
  padding: 0 20px;
}

.home-banner button:hover {
  color: grey;
}

.home-partners {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.home-copyright {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 2px;
}

.home-partners img {
  height: 30px;
  margin: 5px 3%;
}

.home-partners .partner-logo .black {
  display: inline-block;
  opacity: 0.7;
}

.home-partners .partner-logo .color {
  display: none;
}

.home-partners .partner-logo:hover .black {
  display: none;
}

.home-partners .partner-logo:hover .color {
  display: inline-block;
}

.sectiontitle {
  width: 100%;
  margin-bottom: 120px;
  font-size: 36px;
  margin-top: 120px;
  color: rgb(134, 134, 139);
  font-family: "Arial", sans-serif;
  font-weight: bold;
  background: #f3f3f3;
  padding: 60px;
  box-sizing: border-box;
}

.sectiontitle .sub {
  margin-top: 20px;
  color: black;
  font-size: 26px;
}

.sectiontitle .scroll {
  font-size: 22px;
  width: 310px;
  margin: auto;
  margin-top: 30px;
}

.sectiontitle .arrow {
  transform: rotate(180deg);
  height: 30px;
  width: 30px;
  margin: auto;
  margin-top: 20px;
  background-color: grey;
}

.sectiontitle .acc {
  margin-top: 15px;
  text-align: center;
}

.sectiontitle .letter {
  color: black;
  size: 50px;
  display: inline-block;
}

.sectiontitle .word {
  size: 14px;
  display: inline-block;
  padding-right: 10px;
}

.sectiontitle .lw {
  display: inline-block;
}

.section {
  position: relative;
}

.section.lakesimulations {
  margin-bottom: 120px;
}

.section.lakesimulations img {
  width: 100%;
}

.section.lakesimulations .textbox {
  position: absolute;
  top: 0;
  right: 0;
}

.section.lakesimulations .textbox .straptext {
  text-align: right;
  font-size: 25px;
  margin-top: 30px;
  max-width: 712px;
  align-items: right;
  margin-bottom: 70px;
}

.section.lakesimulations .textbox .numberbox {
  display: inline-block;
  margin-left: 200px;
  font-size: 30px;
  text-align: center;
  color: grey;
}

.section.lakesimulations .textbox .numberbox .number {
  font-size: 90px;
  color: black;
}

.section.insitudata {
  margin-top: 50px;
}

.section.insitudata .insitutext {
  width: 100%;
  background: url("img/lexplore.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.section.insitudata .insitutext table {
  width: 100%;
  text-align: center;
}

.section.insitudata .title {
  font-size: 34px;
  padding-top: 40px;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.section.insitudata .numberbox {
  display: inline-block;
  font-size: 30px;
  text-align: center;
  margin: 90px 0;
}

.section.insitudata .numberbox .number {
  font-size: 90px;
  color: black;
}

.section.rs {
  margin-top: 120px;
  margin-bottom: 120px;
  background: #f3f3f3;
}

.section.rs img {
  width: 100%;
  padding: 40px 60px;
  box-sizing: border-box;
}

.section.rs .text {
  font-size: 25px;
  margin: 60px 60px;
  padding: 40px 60px;
  border-bottom: 1px solid grey;
}

.triple {
  text-align: center;
  padding: 40px;
  background-color: #f3f3f3;
}

.triple-inner {
  width: 280px;
  display: inline-block;
  margin: 40px;
  vertical-align: top;
}

.triple-title {
  width: 100%;
  text-align: center;
  height: 40px;
  font-family: "The Serif Bold", Arial, sans-serif;
  font-size: 22px;
}

.triple-text {
  font-size: 18px;
  text-align: left;
}

.triple-img {
  text-align: center;
  height: 180px;
  vertical-align: middle;
  margin: 30px 0;
}

.triple-button {
  width: 100%;
  text-align: center;
}

.triple-img img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1300px) {
  .section.insitudata .numberbox {
    margin: 50px 0;
  }
}

@media screen and (max-width: 1050px) {
  .section.insitudata .title {
    font-size: 28px;
  }

  .section.insitudata .numberbox {
    margin: 20px 0;
  }

  .section.insitudata .numberbox .number {
    font-size: 70px;
  }
}

@media screen and (max-width: 960px) {
  .home-banner .home-tagline {
    font-size: 45px;
  }
  .home {
    padding: 0 20px;
  }
  .section.insitudata .title {
    font-size: 22px;
    margin-top: 20px;
  }

  .section.insitudata .numberbox {
    margin: 10px 0;
    font-size: 22px;
  }

  .section.insitudata .numberbox .number {
    font-size: 50px;
  }

  .section.lakesimulations .textbox .numberbox {
    margin-left: 50px;
    float: right;
  }
}

@media screen and (max-width: 500px) {
  .home {
    margin-top: 20px;
    padding: 0;
  }
  .home-banner {
    margin-bottom: 0;
  }
  .home-banner .home-tagline {
    font-size: 30px;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .home-banner button {
    font-size: 16px;
  }

  .triple {
    padding: 0;
  }

  .triple-inner {
    margin: 0;
  }

  .sectiontitle {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 25px;
  }

  .sectiontitle .sub {
    font-size: 18px;
  }

  .sectiontitle .scroll {
    font-size: 16px;
    width: 210px;
  }

  .sectiontitle .arrow {
    height: 20px;
    width: 20px;
  }

  .section.lakesimulations .textbox .straptext {
    font-size: 14px;
    width: 70%;
    float: right;
    padding-right: 20px;
  }
  .section.lakesimulations .textbox .numberbox {
    margin: 0 20px;
  }

  .section.insitudata {
    margin: 0;
  }

  .section.insitudata .title {
    margin: 40px 20px;
  }

  .section.rs {
    margin: 0;
    margin-top: 20px;
  }

  .section.rs .text {
    padding: 20px;
    margin: 0;
    font-size: 18px;
  }

  .home-text {
    padding: 0 10px;
  }
  .home-copyright {
    margin-bottom: 65px;
  }
}
