.home {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 60px;
}

.home-banner {
  width: 100%;
  background: url("img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 15vh;
  box-sizing: border-box;
}

.home-banner .home-tagline {
  font-size: 60px;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -0.015em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: left;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
}

.home-banner button {
  font-size: 22px;
  background-color: black;
  color: white;
  height: 40px;
  padding: 0 20px;
}

.home-banner button:hover {
  color: grey;
}

.home-partners {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.home-copyright {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 2px;
}

.home-partners img {
  height: 30px;
  margin: 5px 3%;
}

.home-partners .partner-logo .black {
  display: inline-block;
  opacity: 0.7;
}

.home-partners .partner-logo .color {
  display: none;
}

.home-partners .partner-logo:hover .black {
  display: none;
}

.home-partners .partner-logo:hover .color {
  display: inline-block;
}

.triple {
  text-align: center;
  background-color: #f3f3f3;
}

.sectiontitle {
  width: 100%;
  margin-bottom: 120px;
  font-size: 36px;
  margin-top: 120px;
  color: rgb(136, 136, 136);
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

.section {
  position: relative;
}

.section.lakesimulations img {
  width: 100%;
}

.section.lakesimulations .textbox {
  position: absolute;
  top: 0;
  right: 0;
}

.section.lakesimulations .textbox .straptext {
  text-align: right;
  font-size: 25px;
  margin-top: 30px;
}

.section.lakesimulations .textbox .numberbox{
  display: inline-block;
  margin-left: 200px;
  font-size: 30px;
  text-align: center;
}

.section.lakesimulations .textbox .numberbox .number{
  font-size: 90px;
}

.triple-inner {
  width: 280px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.triple-title {
  width: 100%;
  text-align: center;
  height: 40px;
  font-family: "The Serif Bold", Arial, sans-serif;
  font-size: 22px;
}

.triple-text {
  font-size: 18px;
  text-align: left;
}

.triple-img {
  text-align: center;
  height: 180px;
  vertical-align: middle;
  margin: 30px 0;
}

.triple-button {
  width: 100%;
  text-align: center;
}

.triple-img img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 960px) {
  .home-banner .home-tagline {
    font-size: 45px;
  }
}

@media screen and (max-width: 500px) {
  .home {
    margin-top: 20px;
  }
  .home-banner {
    margin-bottom: 0;
  }
  .home-banner .home-tagline {
    font-size: 30px;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .home-banner button {
    font-size: 16px;
  }
  .sectiontitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .home-text {
    padding: 0 10px;
  }
  .home-copyright {
    margin-bottom: 65px;
  }
}
