.home {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 80px;
}

.home-banner {
  width: 100%;
  background: url("img/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  text-align: center;
  margin-bottom: 30px;
}

.home-banner .home-tagline {
  font-size: 40px;
  font-family: "The Serif Bold", serif;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15vh;
}

.home-banner button {
  font-size: 22px;
  border-color: white;
  background-color: red;
  color: white;
  border-radius: 8px;
  height: 40px;
  padding: 0 20px;
}

.home-banner button:hover {
  color: black;
}

.home-partners {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.home-copyright {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 2px;
}

.home-partners img {
  height: 30px;
  margin: 5px 3%;
}

.home-partners .partner-logo .black {
  display: inline-block;
  opacity: 0.7;
}

.home-partners .partner-logo .color {
  display: none;
}

.home-partners .partner-logo:hover .black {
  display: none;
}

.home-partners .partner-logo:hover .color {
  display: inline-block;
}

.triple {
  text-align: center;
}

.sectiontitle {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  font-size: 25px;
  margin-top: 150px;
}

.triple-inner {
  width: 280px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.triple-title {
  width: 100%;
  text-align: center;
  height: 40px;
  font-family: "The Serif Bold", Arial, sans-serif;
  font-size: 22px;
}

.triple-text {
  font-size: 18px;
  text-align: left;
}

.triple-img {
  text-align: center;
  height: 180px;
  vertical-align: middle;
  margin: 30px 0;
}

.triple-button {
  width: 100%;
  text-align: center;
}

.triple-img img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 500px) {
  .home {
    margin-top: 20px;
  }
  .home-banner {
    margin-bottom: 0;
  }
  .home-banner .home-tagline {
    font-size: 30px;
    padding-top: 10vh;
  }
  .home-banner button {
    font-size: 16px;
  }
  .sectiontitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .home-text {
    padding: 0 10px;
  }
  .home-copyright {
    margin-bottom: 65px;
  }
}
