.overlay {
  fill: none;
  pointer-events: all;
}

#legend {
  position: absolute;
  top: 50px;
  left: 70px;
  background-color: white;
  border: 1px solid;
  padding: 3px;
  cursor: pointer;
}

#vis {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 500px) {
  #vis {
    height: calc(100vh - 200px);
  }
}

.vis-header {
  position: absolute;
  left: 50px;
  top: 0;
  background-color: white;
  padding:3px;
}