.overlay {
  fill: none;
  pointer-events: all;
}

#legend {
  position: absolute;
  top: 50px;
  left: 70px;
  background-color: white;
  padding: 3px;
  cursor: pointer;
}

.vis-main {
  width: 100%;
  height: 100%;
}

.vis-header {
  position: absolute;
  left: 50px;
  top: 0;
  background-color: white;
  padding: 3px;
}

.downloadbar {
  position: absolute;
  bottom: 0;
}

.downloadbar button {
  margin: 0;
  margin-left: 10px;
  font-size: 10px;
  padding: 2px 5px;
}

.downloadbar button.red {
  border-color: #fb0000;
  color: #fb0000;
}

.downloadbar button.blue {
  border-color: #28b5f5;
  color: #28b5f5;
}

@media screen and (max-width: 500px) {
  .vis-main {
    height: calc(100vh - 260px);
  }
  .vis-header {
    width: 100vw;
    position: fixed;
    z-index: 999;
    padding: 0;
    left: 0;
    text-align: center;
  }
  .vis-header .vis-data {
    padding: 5px;
    background-color: rgb(230, 230, 230);
  }
  .vis-header .vis-data:empty {
    padding: 0;
  }
}
