.leaflet-popup-content a {
  text-decoration: none !important;
  color: black !important;
}

.leaflet-popup-content a:hover {
  text-decoration: underline !important;
}

.map {
  height: calc(100% - 290px);
  z-index: 99999;
  width: 100vw;
  position: absolute;
  left: 0;
}

.map.full {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 !important;
  z-index: 999999999;
}

.leaflet-container .leaflet-control-attribution {
  width: 500px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .map {
    margin-top: 30px;
    height: calc(100vh - 195px);
  }
  .leaflet-container .leaflet-control-attribution {
    width: 100%;
    text-align: center;
  }
}

.help {
  z-index: 999;
  position: absolute;
  top: 70px;
  left: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}

.help:hover {
  background-color: rgb(246, 246, 246);
}

.fullscreen {
  z-index: 999;
  position: absolute;
  top: 100px;
  left: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}

.fullscreen:hover {
  background-color: rgb(246, 246, 246);
}

.help-container {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  padding: 30px;
  box-sizing: border-box;
}

.help-container.show {
  display: block;
}

.help-close {
  width: 25px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 700;
  font-size: 40px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}

.help-title {
  display: inline-block;
}

.help-top span {
  float: right;
  font-size: 18px;
}

.help-top {
  cursor: pointer;
}

.help-top h3 {
  border-bottom: 1px solid #c8c6bf;
  padding: 0 0 5px;
  margin: 0 0 16px;
  line-height: 20px;
}

.help-content {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.map-loader {
  z-index: 9999;
  position: absolute;
  top: 220px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.customcontrol {
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

.timeselector-gis {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  background-color: white;
}

.sidebar-gis {  
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 9999;
  height: calc(100% - 60px);
}

.sidebar-gis-inner {
  display: inline-block;
  max-width: 100%;
  width: 300px;
  border-radius: 4px;
  height: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  background-color: white;
  margin-right: 20px;
  vertical-align: top;
}

.sidebar-gis-inner.hide {
  display: none;
}

.sidebar-gis .sidebar-title {
  cursor: pointer;
  font-size: 15px;
  border-bottom: 1px solid rgb(169,169,169);
  padding: 10px 20px;
}

.sidebar-gis .sidebar-title .sidebar-symbol {
  float: right;
}

.sidebar-gis .sidebar-content {
  overflow-y: auto;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: calc(100% - 38px);
}

.gis-datalakes-logo img {
  width: 150px;
}

@media screen and (max-width: 500px) {
  .help-container {
    padding: 10px;
  }
  .sidebar-gis {
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Tocuhscreen changes */

@media (hover: none) and (pointer: coarse) {
  .customcontrol {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.my-labels {
  background-color: none;
}
