.parameter-block {
  display: inline-block;
  padding: 20px 30px;
  width: 180px;
  max-width: 50%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
}

.parameter-block.selected {
  background-color: rgba(32, 33, 36, 0.1);
}

.parameter-block .value {
  font-size: 50px;
}

.parameter-block .units {
  font-size: 20px;
  color: grey;
}

.parameter-block .label {
  padding: 2px 0;
}

.map-container {
  height: 150px;
  width: 100%;
}

.graph-container {
  height: 180px;
  margin: 20px 0;
  background-color: grey;
}

.view-download {
  color: black;
  width: 100%;
  border: solid 1px black;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0;
}

.view-download:hover {
  font-weight: bold;
}

.timeseries a {
  text-decoration: none;
}

.weatherstation-graph {
  height: 350px;
}

.weatherstation-right {
  margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
  .live-parameter-container {
    margin-top: 50px;
    margin-bottom: 120px;
  }
  .weatherstation-graph {
    height: auto;
  }
}
