.home-container {
    width: 100%;
    height: 100%;
}

.home-inner {
    width: 50%;
    display: inline-block;
    min-height: 600px;
    height: 100%;
    vertical-align: top;
}

.home-button {
    font-size: 14px;
    padding: 18px 43px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    width: 170px;
}

.home-button:hover {
    font-weight: bold;
}

.home-content {
    width: 100%;
    box-sizing: border-box;
    padding-right: 30px;
    box-sizing: border-box;
    padding-top: 40%;
}

.home-text {
    font-size: 40px;
    font-family: "The Serif Bold", serif;
}

.home-banners {
    padding-top: 50px;
}

.home-banner {
    height: 120px;
    width: 95%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    cursor: pointer;
}


@media screen and (max-width: 550px){
    #home-left {
        display: none;
    }
    .home-inner {
        width: 100%;
    }
}

.home-banner:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
@keyframes shake {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
    transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
    transform: translate3d(4px, 0, 0);
    }
}