input.modelSearch {
    font-size: 14px;
    width: 100%;
    border: solid 1px grey;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 20px;
}

input[type="search"]::-webkit-search-cancel-button {
    cursor: pointer;
  }