.contactfrom-group {
    padding: 0;
}

.contactform-group .form-control {
    border: solid 1px black;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 14px;
}

button.contactform-button {
    width: 100%;
}