/* -------------- Footer -------------------------  */

footer {
  border-top: 1px solid #d8d6d3;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

@media screen and (max-height: 850px) {
  footer {
    position: relative;
    margin-top: 40px;
  }
}

@media screen and (max-width: 960px) {
  footer {
    position: relative;
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  footer .container .copyright {
    text-align: center;
    margin-bottom: 65px;
    padding-right: 20px;
  }
  .copyright .contact {
    padding-left: 20px !important;
  }
  footer .container .partners img {
    margin: 5px 10px !important;
  }
}

footer .container .partners {
  padding: 30px 0 10px 0;
  text-align: center;
}

footer .container .partners img {
  height: 30px;
  margin: 5px 25px;
}

footer .container .copyright {
  text-align: right;
}

footer a {
  text-decoration: none;
  color: black;
}

footer .copyright {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 0 50px 10px 0;
}

.partner-logo .black {
  display: inline-block;
}

.partner-logo .color {
  display: none;
}

.partner-logo:hover .black {
  display: none;
}

.partner-logo:hover .color {
  display: inline-block;
}

.copyright .contact {
  float: left;
  padding-left: 50px;
}

.copyright .contact img {
  height: 20px;
  margin-top: -4px;
  padding-right: 20px;
}

.copyright .contact a {
  text-decoration: none;
  color: black;
}

.copyright .contact a:hover {
  color: rgb(70, 70, 70);
}

.copyright .contact .contact-inner .black {
  display: inline-block;
}

.copyright .contact .contact-inner .color {
  display: none;
}

.copyright .contact .contact-inner:hover .black {
  display: none;
}

.copyright .contact .contact-inner:hover .color {
  display: inline-block;
}
