input.modelSearch {
  font-size: 14px;
  width: 100%;
  border: solid 1px grey;
  box-sizing: border-box;
  padding: 5px 10px;
  margin-bottom: 20px;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.hoverTemp {
  display: none;
  width: 80px;
  text-align: center;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 14px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}

.model.hide {
  display: none;
}

.model:hover {
  text-decoration: underline;
}

.modellist {
  cursor: pointer;
  padding-bottom: 10px;
}

.modellist a {
  display: block;
  text-decoration: none;
  color: black;
}

.modellist a:hover {
  text-decoration: underline;
}

.modellist .top {
  padding-bottom: 5px;
}

.modellist ul {
  margin: 0;
  padding-left: 20px;
}

.top:hover > .lakeTitle {
  text-decoration: underline;
}


