.color-select {
    border-radius: 0;
    -webkit-appearance: none; 
    appearance: none;
    width:50px;
    height: 20px;
}

.color-select option {
    -webkit-appearance: none;
}

.color-select::-ms-expand {
    display: none;
}

.transparent {
    background-color: white;
    background-image: linear-gradient(45deg, #EEEEEE 25%, transparent 25%, transparent 75%, #EEEEEE 75%, #EEEEEE),
    linear-gradient(45deg, #EEEEEE 25%, transparent 25%, transparent 75%, #EEEEEE 75%, #EEEEEE);
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
}

.github-picker {
    width: 100%!important;
    background: rgb(255, 255, 255)!important;
    border: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    position: relative!important;
    padding-left: 0!important;
    display: flex!important;
    flex-wrap: wrap!important;
    box-sizing: border-box!important;
}