.filterbox {
  padding: 16px 0px;
  border-bottom: 1px solid #c8c6bf;
}

.filterbox .toprow {
  cursor: pointer;
  line-height: 22px;
}

.filterbox .title {
  display: inline-block;
}

.filterbox .symbol {
  float: right;
  font-size: 22px;
}

.filterbox .content {
  padding-top: 10px;
}
