.twitter {
    font-size: 15px;
}

.twitter img {
    height: 20px;
    padding-right: 20px;
    vertical-align: bottom;
}

.twitter .twitter-text {
    display: inline-block;
    line-height: 20px;
    padding-right: 20px;
}

.twitter .twitter-date {
    line-height: 20px;
    float: right;
}