.map-sidebar {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 400px;
  background-color: #333333;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  max-width: 100%;
}

.map-sidebar-symbol {
  text-align: right;
  width: 100%;
  cursor: pointer;
  font-size: 26px;
}

.map-sidebar.minimised {
  background-color: transparent;
  width: 50px;
  color: black;
  height: auto;
}

.map-sidebar.minimised .map-sidebar-content {
  display: none;
}

.map-sidebar.minimised .map-sidebar-symbol {
  color: black;
}

.map-sidebar form.colortable table input[type="text"] {
  color: white;
}

.map-sidebar button {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.map-sidebar button:hover {
  background-color: transparent;
}
